.section {
    margin-bottom: 2rem;
}

.section .section-heading {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.section-heading {
    text-align: center;
}
@media only screen and (min-width: 1200px)
.h1-responsive, .section .section-heading, .section-heading h1 {
    font-size: 250%;
}
@media only screen and (min-width: 992px)
.h1-responsive, .section .section-heading, .section-heading h1 {
    font-size: 200%;
}
@media only screen and (min-width: 768px)
.h1-responsive, .section .section-heading, .section-heading h1 {
    font-size: 170%;
}
.fadeIn {
    -webkit-animation-name: fadein;
    animation-name: fadein;
}

@media (min-width: 992px)
.m-b-r {
    margin-bottom: 3rem!important;
}
.zoomIn {
    -webkit-animation-name: zoomin;
    animation-name: zoomin;
}

.feature-box {
  text-align: center;
}

.feature-box .feature-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.feature-box .features-big .feature-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.feature-box .features-big .fa {
  font-size: 4rem;
}

.feature-box .features-small {
  text-align: left;
}

.feature-box .features-small .fa {
  font-size: 2rem;
}


.grey-text {
    color: #9e9e9e!important;
}
