.a{
  left:0px;top:0px;width:250px;height:125px;

}
.b{
  left:260px;height:100px;top:0px;width:125px;
}
.c{
  left:395px;height:250px;top:0px;width:75px;
}
.d{
  left:395px;height:250px;top:0px;width:75px;
}
.e{
  left:565px;height:125px;top:0px;width:200px;
}
.f{
  left:480px;height:200px;top:85px;width:75px;
}
.g{
  left:0px;height:100px;top:135px;width:75px;
}
.h{
  left:260px;height:75px;top:110px;width:125px;
}
.i{
  left:85px;height:140px;top:135px;width:165px;
}
.j{
  left:565px;height:150px;top:135px;width:75px;
}
.k{
  left:650px;height:75px;top:135px;width:75px;
}
